# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/

# Temporary file directory
tmp/nanoc/

# Crash Log
crash.log

convert/test/test_lotus_out
convert/test/test_radex_out
convert/test/test_result_out

*__pycache__
